<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a  [routerLink]="['/inicio']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="assets\img\nova-logo.png" height="40"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <!-- <img src="assets\img\nova-logo.png" height="40"> -->
      <b style="margin-left: 10px">Você Prefeito</b>
    </span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" >
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <button class="btn btn-right" id="btnLogin" style="margin-top: 8px;margin-right: 5px;background-color: #cc353a;color: white;border-color:#cc353a ;" [routerLink]="['/login']">
           Login
      </button>
      </ul>
    </div>
  </nav>
</header>

