.session-time{
    font-size: 12pt;
}

.session-time>a>.label{
    font-size: 9pt;
    right: 3px;
    top: 30px;
}

.session-time>a{
    padding-top: 10px;
}

#btnLogin:hover{
    /* background-color: #242424; */
    background-color: #cc353a;
    border-color: #cc353a;
}

.skin-purple-light .main-header .navbar {
    background-color: #cc353a !important;
}